# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Idea projects\atm-mashine-actors\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
